<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | TrendFurnace</title>
  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon">
  <meta name="description"
    content="TrendFurnace delivers accurate, AI-powered summaries of trending topics across sports, tech, culture, and more—updated daily.">
  <meta name="keywords"
    content="trending topics, AI blog, google trends, news summaries, daily blog, SEO blog, tech, sports, content automation">
  <meta name="author" content="Nicolas from TrendFurnace">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  {% include google-verification.html %}
</head>

<body>
  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}
  {% include darkmode-toggle.html %}
</body>

</html>